@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Poppins', sans-serif;
  --font-geist-mono: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  width: 100%;
  height: 100vh;
  /* Full viewport height */
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

}

.containerHoon {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.backgroundhoon {
  background: url('/camera.jpg'); /* Corrected path */
  background-size: cover; /* Adjust to fit */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Avoid repeating */
}
.containermain{
  height: 100vh;
}

.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 15px;
  padding: 15px;
}

.box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  min-height: 500px;
  transition: 0.2s linear;
}

.Card .box img {
  height: 80px;
  width: 80px;
}

.Card .box h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}

.Card .box p {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  text-align: justify;
}

.box .btn {
  margin-top: 20px;
  display: inline-block;
  background: #333;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
  transition: 0.2s linear;
}

.box .btn:hover {
  letter-spacing: 1px;
}

.box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  cursor: pointer;
}
