
.mainContainer {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 10px;
}
.containerBox {
  width: 88%;
  justify-content: center;
  margin: 0 auto;
}
.bgColor1 {
  background-color: #222;
}
.copyRight {
  color: #23395b;
  text-align: center;
  padding: 10px 0px;
}
.disclaimer {
  color: #fff;
  padding: 30px 0px;
  font-size: 14px;
}
.tagLine span {
  padding: 0 12px;
  color: #19216d;
  font-weight: bold;
  font-size: 16px;
}
.footerBanner {
  width: 100%;
  padding: 4px 0px;
}
.socialIcon img {
  margin: 8px;
  border-radius: 5px;
}
.footerNav {
  text-align: center;
  color: #23395b;
  text-decoration: none;
  padding: 10px 0px;
  width: 99% !important;
}
.footerNav a {
  padding: 0px;
  color: #19216d;
  font-size: 14px;
  text-decoration: none;
}

.footerNav span {
  padding: 0 5px;
  color: #19216d;
  font-size: 12px;
  text-decoration: none;
}
.trusted_partners {
  text-align: left;
  padding-left: 5px !important;
}
.trust1 {
  font-weight: 600;
  font-size: 15px;
  font-family: 'Roboto';
}
.trust2 {
  font-size: 14px;
  font-family: 'Roboto';
}

/* adnan */

.descDiv{
  background: #F2F2F0;
  padding: 26px 0 24px 0!important;
}
.descDiv p{
  margin: 0;
  font-weight: 200;
  font-size: 15px;
  line-height: 20px;
  color: #666666;
  font-family: 'Roboto';
}
.descDiv p .descHeading{
  font-size: 15px; 
  font-weight: 600; 
  font-family: 'Roboto';
  color: #666666;
}
.descDiv p .descBenefitSec{
  margin: 30px 0;
  font-weight: 200;
  font-size: 15px;
  line-height: 20px;
  color: #666666;
  font-family: 'Roboto';
}
.responsiveSec {
  padding: 0 100px !important;
}
.actBanner1{
  width: 100%;
}
.actBanner2{
  display: none;
  width: 100%;
}
.footerB a{
  text-decoration: none;
  color: #0A142F;
  font-size: 11px;
  font-family: 'Roboto';
  opacity: .5;
  padding: 0 4px;
}
.footerP a {
  text-decoration: none;
  padding: 0 4px;
  color: #23395b;
  font-size: 10px;
  font-family: 'Roboto';
}
.footerB a:hover{
  color: #0056b3;
}
.footerP a:hover {
  color: #0056b3;
}
.footerP, .footerB {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  /* opacity: .5; */
}
.footerB span {
  font-size: 12px;
  color: #0A142F;
  opacity: .5;
}
.footerP span {
  font-size: 12px;
}
.shotSaveInvestSection span {
  font-size: 12px;
}
.shotSaveInvestSection a {
  text-decoration: none;
  padding: 0 10px;
  color: #666666;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto';
  line-height: 16px;
}
/* .footer-p .linkedin {
  border-radius: 5px;
} */
.trust1{
  font-weight: 600; 
  font-size:15px;
  font-family: 'Roboto'
  }
  .trust2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
  }
  .trustedPartners{
  text-align: left;
  padding-left: 5px !important;
  }
  .trustedPartnersImg img{
    object-fit: cover !important;
    height: auto;
  }
  .trustedSec{
  /* border: 2px solid #222222;  */
  /* border-radius: 10px;  */
  max-width:516px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 21px 33px 33px 33px;
  }
  .upi{
width: 16%;
  }
  .rupay{
width: 21%;
  }
  .visa{
width: 14%;
  }
  .bob{
width: 25%;
  }
/* .footer-first-sec{
  background-color: #f5f5f5;
} */
.footerTable{
  padding: 0 68px !important;
}
.footerPage li{
  list-style-type: none;
  text-align: start;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0A142F;
  opacity: .5;
  margin-bottom: 13px;
}
.footerLink{
text-decoration: none;
color: #0A142F;

}
.footerPage li:first-child{
  margin-bottom: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  opacity: 1 !important;
}
.address{
  line-height: 20px;
  font-size: 16px;
  font-family: roboto;
  margin-left: 10px;
}
.trustedHeader{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  /* line-height: 38px; */
  color: #222222;
}
.trustedSubHeader{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}
.footerBgImg{
  background-image: url("/images/footer-bg.png");
}
.summarySec{
  color: #000000;
  font-size: 15px;
}
.summarySec:hover{
  color: #0056b3;
}
.footerImg{
  width: 115px;
}
.footerIcon{
  font-size:24px;
}
.care{
  color: #666666; 
  text-decoration: underline !important;
}
.mobileView {
  padding-right: 0px !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .containerBox {
    width: 88%;
    justify-content: center;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 992px){
  .responsiveSec {
    padding: 0 1rem !important;
  }
 
.decstopFooter{
  display: none;
}
.trustedHeader{
  font-size: 16px;
}
.trustedSubHeader{
  font-size: 11px;
}
.trust2{
  font-size: 11px;
}
.footerP{
 font-size: 8px;
}
.shotSaveInvestSection Link{
  font-size: 12px;
}
.footerP img{
  width: 24px;
 }
 .descDiv p, .descBenefitSec{
   font-size: 11px !important;
 }
 .topScrollBtn{
  width: 25px;
  height: 25px;
  }
  /* body .top-scroll{
    bottom: 20px;
    right: 7px;
  } */
  .trustedPartners{
    text-align: center;
  }
  .trustedSec{
    padding: 8px 17px 4px 17px;
  }
  .summarySec{
    color: #666666;
    font-size: 11px;
  }
  .descDiv p .descHeading{
    font-size: 11px !important;
  }
  .trustedSec{
    width: 250px;
    border-radius: 8px;
  }
  .descDiv {
    padding-top: 20px!important;
}
}
@media only screen and (min-width: 993px) {
  .mobileFooter{
    display: none;
  }
}

@media only screen and (max-width: 576px){
.actBanner1{
  display: none;
}
.actBanner2{
  display: block !important;
}
}   